#home {
  padding: 15px; }
  #home .mainLogo {
    max-width: 100%; }
  #home .createNew {
    margin-bottom: 15px; }
    #home .createNew a {
      display: block;
      background-color: black;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      width: 100%;
      height: 50px;
      text-align: center;
      line-height: 50px; }
  #home .homeButton {
    width: 45%;
    background-color: #CCC;
    border-radius: 10px;
    border: 1px solid black;
    height: 30px;
    line-height: 30px;
    text-align: center; }
    #home .homeButton.allButton {
      float: left; }
    #home .homeButton.deleteButton {
      float: right; }
